<!DOCTYPE html>
<html>
<head>
<title>Student Dashboard</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}

body, html {
  height: 100%;
  line-height: 1.25;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("https://thumbs.dreamstime.com/b/banner-coffee-laptop-office-supplies-black-background-online-education-remote-job-workspace-place-text-208489191.jpg");
  min-height: 75%;
}

.w3-bar .w3-button {
  padding: 16px;
}
</style>
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a style="text-decoration: none;" href="#home"><img src="amrita.png" height="9%" width="9%"><span style="text-decoration: none; font-size: 1.35rem; font-weight: 500;"> Guest Lecture Portal</span></a>
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a href="" class="w3-bar-item w3-button">Welcome, <b><%=currUsers1[currUsers1.length-1].username%></b></a>
      <a href="/editprofile" class="w3-bar-item w3-button"><i class="fa fa-user"></i> PREFERENCES</a>
      <a href="#feedback" class="w3-bar-item w3-button"><i class="fa fa-question"></i> FEEDBACK</a>
      <a href="#contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT</a>
      <a href="/" class="w3-bar-item w3-button"><i class="fa fa-arrow-right"></i> LOG OUT</a>

    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
  <a href="" onclick="w3_close()" class="w3-bar-item w3-button">Hello, xxPennyxx</a>
  <a href="/editprofile" onclick="w3_close()" class="w3-bar-item w3-button">Profile</a>
  <a href="#work" onclick="w3_close()" class="w3-bar-item w3-button">WORK</a>
  <a href="#pricing" onclick="w3_close()" class="w3-bar-item w3-button">PRICING</a>
  <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
</nav>